html {
	margin: auto;
}
body {
	margin: 0px;
}

.header {
	background-color: black;
	width: 1200px;
	height: 101px; 
}

.top_nav  {
    width: 70%;
    display: inline-block;
    text-align: center;
}

ul {
	float: left;

}

.top_nav li {
	margin: 40px 40px 0 40px;
	left: 100px;
	list-style-type: none;
	display: inline;
	position: relative;
	font-size: 16px;
	text-transform: uppercase;
	top: 8px;
	color: white;
	padding: 10px;

}

.hideP{
	position: inline;
}


.drivingphoto{
	position: inline;
}

.hideP:hover {
	display: none;
}

.drivingphoto:hover {
	opacity: .5;
}

li:hover {
	background-color: #6a6969;

}
a {
	text-decoration: none;
	color: white;
}

.aboutme-container {
	height: 900px;
	width: 1200px;


}
.container {
	height: 900px;
	width: 1200px;
	font-size: 36px;
	color: white;
	background-image: url(spartan-symbol.png);
	position: relative;
}

.aboutme-container > p > a {
	color: green;
}

.container > p {
	margin-top: 0px;
}

.aboutme-container > p > img {
	float: left;
}

.aboutme-container > p > .worldofwarcraft {
    transition-duration: 1s;
    width:50%;
}

.skills-container {
	height: 1000px;
	width: 1200px;
}

.skills-container > p > a {
	color: red;
}